div#especialidades_container{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

div#especialidad_nueva_container{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

#especialidades_table{
    width: 100%;
    border-collapse: collapse; 
}

div#especialidades_title{
    font-size: 2rem;
}