<div id="nuevo_turno_container">
    <div id="seleccionados_container">
        <div id="paciente_seleccionado_container" *ngIf="paciente && servAuth.usuarioActual?.tipo == 'admin'">
            <h1>Paciente:</h1>

            <div id="paciente_seleccionado" name="paciente_item">
                <div name="paciente_nombre">
                    {{paciente.nombre + ", " + paciente.apellido}}
                </div>

                <div name="paciente_imagen_container">
                    <img name="paciente_imagen" [src]="paciente.url_foto_1"
                        [alt]='paciente.nombre + ", " + paciente.apellido'>
                </div>
            </div>

            <div>
                <p-button icon="pi pi-times" [rounded]="true" severity="danger" (click)="CancelarPaciente()"></p-button>
            </div>
        </div>

        <div id="especialista_seleccionado_container" *ngIf="especialista">
            <h1>Especialista:</h1>

            <div id="especialista_seleccionado" name="especialista_item">
                <div name="especialista_nombre">
                    {{especialista.nombre + ", " + especialista.apellido}}
                </div>

                <div name="especialista_imagen_container">
                    <img name="especialista_imagen" [src]="especialista.url_foto_1"
                        [alt]='especialista.nombre + ", " + especialista.apellido'>
                </div>
            </div>

            <div>
                <p-button icon="pi pi-times" [rounded]="true" severity="danger"
                    (click)="CancelarEspecialista()"></p-button>
            </div>
        </div>

        <div id="especialidad_seleccionado_container" *ngIf="especialidad_id">
            <h1>Especialidad:</h1>

            <div id="especialidad_seleccionado" name="especialidad_item">
                <p-button pRipple styleClass="p-button-help">
                    <i class="fa-solid fa-stethoscope"></i>
                    <!-- <img [alt]="especialidad.nombre" [src]="especialidad.url_foto" style="width: 3rem" /> -->
                    <span class="ml-2 font-bold">{{especialidad_id | especialidad | async}}</span>
                </p-button>
            </div>

            <div>
                <p-button icon="pi pi-times" [rounded]="true" severity="danger"
                    (click)="CancelarEspecialidad()"></p-button>
            </div>
        </div>

        <div id="especialidad_seleccionado_container" *ngIf="turno">
            <h1>Turno:</h1>

            <div id="turno_seleccionado" name="especialidad_item">
                <p-button pRipple styleClass="p-button-secondary">
                    <!-- <img [alt]="turno.nombre" [src]="turno.url_foto" style="width: 3rem" /> -->
                    <span class="ml-2 font-bold">{{turno.fecha | date : 'dd/MM/yyyy' }}</span>
                    <span class="ml-2 font-bold">{{turno.hora}}</span>
                </p-button>
            </div>

            <div>
                <p-button icon="pi pi-times" [rounded]="true" severity="danger"
                    (click)="CancelarEspecialidad()"></p-button>
            </div>
        </div>
    </div>

    <div id="seleccionar_paciente" *ngIf="!paciente && servAuth.usuarioActual?.tipo == 'admin'">
        <div *ngFor="let paciente of servUsuario.pacientes.value" name="paciente_item"
            (click)="ElegirPaciente(paciente)">
            <div name="paciente_nombre">
                {{paciente.nombre + ", " + paciente.apellido}}
            </div>

            <div name="paciente_imagen_container">
                <img name="paciente_imagen" [src]="paciente.url_foto_1"
                    [alt]='paciente.nombre + ", " + paciente.apellido'>
            </div>
        </div>
    </div>

    <div id="seleccionar_especialista" *ngIf="paciente && !especialista">
        <div *ngFor="let especialista of especialistas" name="especialista_item"
            (click)="ElegirEspecialista(especialista)">
            <div name="especialista_nombre">
                {{especialista.nombre + ", " + especialista.apellido}}
            </div>

            <div name="especialista_imagen_container">
                <img name="especialista_imagen" [src]="especialista.url_foto_1"
                    [alt]='especialista.nombre + ", " + especialista.apellido'>
            </div>
        </div>
    </div>

    <div id="seleccionar_especialidad" *ngIf="paciente && especialista && !especialidad_id">
        <p-button pRipple styleClass="p-button-help" *ngFor="let especialidad of especialista.especialidades"
            (click)="ElegirEspecialidad(especialidad)">
            <i class="fa-solid fa-stethoscope"></i>
            <!-- <img [alt]="especialidad.nombre" [src]="especialidad.url_foto" style="width: 3rem" /> -->
            <span class="ml-2 font-bold">{{especialidad | especialidad | async}}</span>
        </p-button>
    </div>

    <div id="seleccionar_turno" *ngIf="paciente && especialista && especialidad_id && !turno">
        <p-button pRipple styleClass="p-button-secondary" *ngFor="let turno of turnos" (click)="ElegirTurno(turno)">
            <!-- <img [alt]="turno.nombre" [src]="turno.url_foto" style="width: 3rem" /> -->
            <span class="ml-2 font-bold">{{turno.fecha | date : 'dd/MM/yyyy' }}</span>
            <span class="ml-2 font-bold">{{turno.hora}}</span>
        </p-button>
    </div>
</div>