div#seleccionar_especialista {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

div[name="especialista_item"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    transition: all 0.3s ease-in-out;
}

div[name="especialista_nombre"] {
    font-size: 1.5rem;
    cursor: pointer;
}

div[name="especialista_imagen_container"] {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 128, 0, 0.60);
    background-color: rgba(0, 128, 0, 0.60);
    cursor: pointer;
}

img[name="especialista_imagen"] {
    //max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

div#especialista_selecccionado_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div#seleccionar_paciente {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

div[name="paciente_item"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    transition: all 0.3s ease-in-out;
}

div[name="paciente_nombre"] {
    font-size: 1.5rem;
    cursor: pointer;
}

div[name="paciente_imagen_container"] {
    width: 10rem;
    height: 10rem;
    border-radius: 10%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 255, 0.60);
    background-color: rgba(0, 0, 255, 0.60);
    cursor: pointer;
}

img[name="paciente_imagen"] {
    //max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

div#paciente_selecccionado_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}