<div id="nuevo_turno_container">
    <div id="seleccionar_paciente" *ngIf="!paciente && servAuth.usuarioActual?.tipo == 'admin'">
        <div *ngFor="let paciente of servUsuario.pacientes.value" name="paciente_item"
            (click)="ElegirPaciente(paciente)">
            <div name="paciente_nombre">
                {{paciente.nombre + ", " + paciente.apellido}}
            </div>

            <div name="paciente_imagen_container">
                <img name="paciente_imagen" [src]="paciente.url_foto_1"
                    [alt]='paciente.nombre + ", " + paciente.apellido'>
            </div>
        </div>
    </div>

    <div id="paciente_selecccionado_container" *ngIf="paciente && servAuth.usuarioActual?.tipo == 'admin'">
        <h1>Paciente:</h1>

        <div id="paciente_selecccionado" name="paciente_item">
            <div name="paciente_nombre">
                {{paciente.nombre + ", " + paciente.apellido}}
            </div>

            <div name="paciente_imagen_container">
                <img name="paciente_imagen" [src]="paciente.url_foto_1"
                    [alt]='paciente.nombre + ", " + paciente.apellido'>
            </div>
        </div>

        <div>
            <p-button icon="pi pi-times" [rounded]="true" severity="danger" (click)="CancelarPaciente()"></p-button>
        </div>
    </div>

    <div id="seleccionar_especialista" *ngIf="paciente && !especialista">
        <div *ngFor="let especialista of especialistas" name="especialista_item"
            (click)="ElegirEspecialista(especialista)">
            <div name="especialista_nombre">
                {{especialista.nombre + ", " + especialista.apellido}}
            </div>

            <div name="especialista_imagen_container">
                <img name="especialista_imagen" [src]="especialista.url_foto_1"
                    [alt]='especialista.nombre + ", " + especialista.apellido'>
            </div>
        </div>
    </div>

    <div id="especialista_selecccionado_container" *ngIf="especialista">
        <h1>Especialista:</h1>

        <div id="especialista_selecccionado" name="especialista_item">
            <div name="especialista_nombre">
                {{especialista.nombre + ", " + especialista.apellido}}
            </div>

            <div name="especialista_imagen_container">
                <img name="especialista_imagen" [src]="especialista.url_foto_1"
                    [alt]='especialista.nombre + ", " + especialista.apellido'>
            </div>
        </div>

        <div>
            <p-button icon="pi pi-times" [rounded]="true" severity="danger" (click)="CancelarEspecialista()"></p-button>
        </div>
    </div>

    <div *ngIf="especialista">
        <p-button pRipple styleClass="p-button-help" *ngFor="let especialidad of especialista.especialidades"
            (click)="ElegirEspecialidad(especialidad)">
            <i class="fa-solid fa-stethoscope"></i>
            <!-- <img [alt]="especialidad.nombre" [src]="especialidad.url_foto" style="width: 3rem" /> -->
            <span class="ml-2 font-bold">{{especialidad | especialidad | async}}</span>
        </p-button>
    </div>

    <div *ngIf="especialidad_id">
        {{especialista?.disponibilidades | json}}
    </div>
</div>