<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" acceptLabel="Aceptar"
    rejectLabel="Cancelar" acceptButtonStyleClass="p-button-success" rejectButtonStyleClass="p-button-danger">
</p-confirmDialog>
<p-toast [style]="{marginTop: '70px', 'z-index': 9300}" [preventOpenDuplicates]="true"></p-toast>

<app-spinner></app-spinner>

<div id="main_container">
    <div id="navbar_container" *ngIf="servAuth.logueado.value == true">
        <app-nav-bar></app-nav-bar>
    </div>

    <div id="sub_container" #sub_container>
        <router-outlet></router-outlet>
    </div>
</div>