div#registro_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

div[name="registro_form_input"]>label {
    font-weight: 500;
}

div[name="registro_form_input"]>input {
    width: 100%;
}

div[name="registro_form_input"]>select {
    width: 100%;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.invalid-input {
    border-color: red;
    color: red;
}

.invalid-input > input {
    border-color: red
    //color: red;
}