<div id="registro_container">
    <form [formGroup]="userForm" class="ng-invalid">
        <div id="nombre_container" name="registro_form_input" [ngClass]="{'invalid-input': isValidControl('nombre')}">
            <label for="nombre">Nombre</label>
            <input id="nombre" pInputText type="text" formControlName="nombre" />

            <ng-container *ngIf='getControl("nombre")?.hasError("required")'>
                <small class="text-danger">
                    Debe completar este campo.
                </small>
            </ng-container>

            <ng-container *ngIf='getControl("nombre")?.hasError("pattern")'>
                <small class="text-danger">
                    Sólo se adminten letras.
                </small>
            </ng-container>
        </div>

        <div id="apellido_container" name="registro_form_input"
            [ngClass]="{'invalid-input': isValidControl('apellido')}">
            <label for="apellido">Apellido</label>
            <input id="apellido" pInputText type="text" formControlName="apellido" />

            <ng-container *ngIf='getControl("apellido")?.hasError("required")'>
                <small class="text-danger">
                    Debe completar este campo.
                </small>
            </ng-container>

            <ng-container *ngIf='getControl("apellido")?.hasError("pattern")'>
                <small class="text-danger">
                    Sólo se adminten letras.
                </small>
            </ng-container>
        </div>

        <div id="edad_container" name="registro_form_input" [ngClass]="{'invalid-input': isValidControl('edad')}">
            <label for="edad">Edad</label>
            <!-- <input id="edad" type="number" formControlName="edad" /> -->
            <p-inputNumber inputId="edad" inputStyleClass="w-full" styleClass="w-full" formControlName="edad" [min]="1"
                [max]="200" [maxlength]="3" [useGrouping]="false"></p-inputNumber>

            <ng-container *ngIf='getControl("edad")?.hasError("required")'>
                <small class="text-danger">
                    Debe completar este campo.
                </small>
            </ng-container>
        </div>

        <div id="dni_container" name="registro_form_input" [ngClass]="{'invalid-input': isValidControl('dni')}">
            <label for="dni">DNI</label>
            <!-- <input pInputNumber id="dni" type="number" formControlName="dni" maxlength="8" /> -->
            <p-inputNumber inputId="dni" inputStyleClass="w-full" styleClass="w-full" formControlName="dni"
                [min]="10000000" [max]="99999999" [maxlength]="8" [useGrouping]="false"></p-inputNumber>

            <ng-container *ngIf='getControl("dni")?.hasError("required")'>
                <small class="text-danger">
                    Debe completar este campo.
                </small>
            </ng-container>

            <ng-container *ngIf='getControl("dni")?.hasError("pattern")'>
                <small class="text-danger">
                    Su DNI deben ser 8 dígitos.
                </small>
            </ng-container>

            <ng-container *ngIf='getControl("dni")?.hasError("existeDNI")'>
                <small class="text-danger">
                    Ese DNI ya está registrado.
                </small>
            </ng-container>
        </div>

        <div id="email_container" name="registro_form_input" [ngClass]="{'invalid-input': isValidControl('email')}">
            <label for="mail">Correo electrónico</label>
            <input id="mail" pInputText type="email" formControlName="email" />

            <ng-container *ngIf='getControl("email")?.hasError("required")'>
                <small class="text-danger">
                    Debe completar este campo.
                </small>
            </ng-container>

            <ng-container *ngIf='getControl("email")?.hasError("email")'>
                <small class="text-danger">
                    Formato inválido.
                </small>
            </ng-container>

            <ng-container *ngIf='getControl("email")?.hasError("existeMail")'>
                <small class="text-danger">
                    Ese email ya está registrado.
                </small>
            </ng-container>
        </div>

        <div id="clave_container" name="registro_form_input" [ngClass]="{'invalid-input': isValidControl('clave')}">
            <label for="clave">Contraseña</label>
            <!-- <input id="clave" type="password" formControlName="clave" /> -->
            <p-password id="clave" formControlName="clave" inputStyleClass="w-full" styleClass="w-full"
                [feedback]="false" [toggleMask]="true"></p-password>

            <ng-container *ngIf='getControl("clave")?.hasError("required")'>
                <small class="text-danger">
                    Debe completar este campo.
                </small>
            </ng-container>

            <ng-container *ngIf='getControl("clave")?.hasError("minlength")'>
                <small class="text-danger">
                    La clave debe tener mínimo {{getControl("clave")?.getError('minlength').requiredLength}} caracteres
                </small>
            </ng-container>
        </div>

        <div id="clave2_container" name="registro_form_input" [ngClass]="{'invalid-input': isValidControl('clave2')}">
            <label for="clave2">Repita la contraseña</label>
            <!-- <input id="clave2" type="password" formControlName="clave2" /> -->
            <p-password id="clave2" formControlName="clave2" inputStyleClass="w-full" styleClass="w-full"
                [feedback]="false" [toggleMask]="true"></p-password>

            <ng-container *ngIf='getControl("clave2")?.hasError("required")'>
                <small class="text-danger">
                    Debe completar este campo.
                </small>
            </ng-container>

            <ng-container *ngIf='getControl("clave2")?.hasError("noCoincide")'>
                <small class="text-danger">
                    Las contraseñas no coinciden.
                </small>
            </ng-container>
        </div>

        <div id="url_foto_1_container" name="registro_form_input"
            [ngClass]="{'invalid-input': isValidControl('url_foto_1')}">
            <label for="url_foto_1">Imagen de perfil 1</label>
            <input id="url_foto_1" type="file" formControlName="url_foto_1" accept="image/*" max="2097152"
                (change)="fileChange($event, 1)" />

            <ng-container *ngIf='getControl("url_foto_1")?.hasError("required")'>
                <small class="text-danger">
                    Debe completar este campo.
                </small>
            </ng-container>
        </div>

        <div id="url_foto_2_container" name="registro_form_input" *ngIf="tipo_usuario == 'paciente'"
            [ngClass]="{'invalid-input': isValidControl('url_foto_2')}">
            <label for="url_foto_2">Imagen de perfil 2</label>
            <input id="url_foto_2" type="file" formControlName="url_foto_2" (change)="fileChange($event, 2)" />

            <ng-container *ngIf='getControl("url_foto_2")?.hasError("required")'>
                <small class="text-danger">
                    Debe completar este campo.
                </small>
            </ng-container>
        </div>

        <div id="obra_social_container" name="registro_form_input" *ngIf="tipo_usuario == 'paciente'"
            [ngClass]="{'invalid-input': isValidControl('obra_social')}">
            <label for="obra_social">Obra Social</label>
            <!-- <input id="obra_social" pInputText type="text" formControlName="obra_social" /> -->
            <p-dropdown formControlName="obra_social" styleClass="w-full" [options]="obras_sociales"
                optionLabel="nombre" appendTo="body"></p-dropdown>

            <ng-container *ngIf='getControl("obra_social")?.hasError("required")'>
                <small class="text-danger">
                    Debe completar este campo.
                </small>
            </ng-container>
        </div>

        <div id="especialidad_panel">
            <div id="especialidades_container" *ngIf="tipo_usuario == 'especialista'"
                [ngClass]="{'invalid-input': isValidControl('especialidades')}">
                <label for="especialidades">Especialidades</label>
                <p-multiSelect [options]="especialidades" styleClass="w-full" formControlName="especialidades"
                    placeholder="Selecione sus especialidades" optionLabel="nombre"
                    selectedItemsLabel="{0} seleccionadas" appendTo="body"></p-multiSelect>

                <ng-container *ngIf='getControl("especialidades")?.hasError("required")'>
                    <small class="text-danger">
                        Debe completar este campo.
                    </small>
                </ng-container>
            </div>

            <div id="agregar_especialidad_container" *ngIf="tipo_usuario == 'especialista'">
                <label for="agregar_especialidad">Si no está su especialidad:</label>
                <div class="p-inputgroup">
                    <input id="agregar_especialidad" pInputText type="text" placeholder="Nueva especialidad"
                        [(ngModel)]="agregar_especialidad" [ngModelOptions]="{standalone: true}" />
                    <button type="button" pButton pRipple class="p-button-secondary" label="Agregar"
                        [disabled]="agregar_especialidad == ''" (click)="AgregarEspecialidad()"></button>
                </div>
            </div>
        </div>

        <div id="disponibilidad_panel" *ngIf="getControl('especialidades')!.value">
            <label>Detallenos su disponibilidad horaria:</label>

            <div id="disponibilidad_input_container">
                <div id="disponibilidad_dia_container" name="disponibilidad_input">
                    <label for="disponibilidad_dia">Día</label>
                    <p-dropdown id="disponibilidad_dia" [options]="dias" [(ngModel)]="new_disponibilidad.dia"
                        [ngModelOptions]="{standalone: true}" styleClass="w-full" placeholder="Elija un día"
                        optionValue="value" optionLabel="label"></p-dropdown>
                </div>

                <div id="disponibilidad_hora_inicio_container" name="disponibilidad_input">
                    <label for="disponibilidad_hora_inicio">Hora Inicio</label>
                    <p-inputNumber inputId="disponibilidad_hora_inicio" [min]="0" [max]="23" [maxlength]="2"
                        [useGrouping]="false" [(ngModel)]="new_disponibilidad.hora_inicio"
                        [ngModelOptions]="{standalone: true}" inputStyleClass="w-full"
                        styleClass="w-full"></p-inputNumber>
                </div>

                <div id="disponibilidad_hora_fin_container" name="disponibilidad_input">
                    <label for="disponibilidad_hora_fin">Hora Fin</label>
                    <p-inputNumber inputId="disponibilidad_hora_fin" [min]="new_disponibilidad.hora_inicio + 1"
                        [max]="24" [maxlength]="2" [useGrouping]="false" [(ngModel)]="new_disponibilidad.hora_fin"
                        [ngModelOptions]="{standalone: true}" inputStyleClass="w-full"
                        styleClass="w-full"></p-inputNumber>
                </div>

                <div id="disponibilidad_especialidad_container" name="disponibilidad_input">
                    <label for="disponibilidad_especialidad">Especialidad</label>
                    <p-dropdown id="disponibilidad_especialidad" [options]="getControl('especialidades')!.value"
                        [(ngModel)]="new_disponibilidad.especialidad" [ngModelOptions]="{standalone: true}"
                        styleClass="w-full" placeholder="Elija una especialidad" optionValue="id"
                        optionLabel="nombre"></p-dropdown>
                </div>

                <div id="disponibilidad_agregar_container">
                    <button type="button" pButton pRipple class="p-button-secondary" label="Agregar"
                        (click)="AgregarDisponibilidad()"
                        [disabled]="!(new_disponibilidad.dia > -1 && new_disponibilidad.hora_inicio > 0 && new_disponibilidad.hora_fin > 0 && new_disponibilidad.especialidad != '')"></button>
                </div>
            </div>

            <div id="disponibilidades_container" *ngIf="getControl('disponibilidades')!.value">
                <div *ngFor="let disponibilidad of getControl('disponibilidades')!.value" name="disponibilidad_item">
                    <div name="disponibilidad_content">
                        <!-- {{disponibilidad | json}} -->
                        <div name="disponibilidad_dia">Dia: {{disponibilidad.dia | dia}}</div>
                        <div name="disponibilidad_horario">Horario: {{disponibilidad.hora_inicio}} a
                            {{disponibilidad.hora_fin}}</div>
                        <div name="disponibilidad_especialidad">Especialidad: {{disponibilidad.especialidad |
                            especialidad | async}}</div>
                    </div>

                    <div name="disponibilidad_delete">
                        <button type="button" pButton pRipple icon="pi pi-trash" class="p-button-danger"
                            (click)="BorrarDisponibilidad(disponibilidad)"></button>
                    </div>
                </div>
            </div>

        </div>

        <div id="submit_container">
            <button type="submit" pButton pRipple class="p-button-primary" [disabled]="!this.userForm.valid"
                (click)="RegistrarUsuario()">Registrar</button>
            <!-- <button class="btn btn-primary" (click)="logForm()">LogForm</button> -->
            <!-- <div>{{this.userForm.errors | json}}</div> -->
            <!-- <div>Form válido: {{this.userForm.valid}}</div> -->
        </div>

    </form>
</div>