div#obras_sociales_container{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

div#obra_social_nueva_container{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

#obras_sociales_table{
    width: 100%;
    border-collapse: collapse; 
}

div#obras_sociales_title{
    font-size: 2rem;
}