div#registrarse_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#select_tipousuario_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

div[name="form_card"] {
    background-color: rgb(255 255 255 / 20%);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    //margin-top: 30px;
    //margin-bottom: 20px;
    //min-width: 25rem;
    //margin-left: auto;
    //margin-right: auto;
}

div#registrarse_card_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    //width: 80%;
    max-width: 800px;
    margin: 2rem;
}

div#registrarse_title_container {
    display: flex;
}

div#registrarse_title {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

div[name="form_card_title"] {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

div#select_tipousuario_container>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
}