<div id="usuario_card" *ngIf="usuario">

    <div id="usuario_foto_1_container" name="usuario_card_data">
        <div name="usuario_card_label">Foto 1:</div>
        <div name="usuario_img_container">
            <img [src]="usuario.url_foto_1" alt="">
        </div>
    </div>

    <div id="usuario_nombre_container" name="usuario_card_data">
        <div name="usuario_card_label">Nombre:</div>
        <div>{{usuario.nombre}}</div>
    </div>

    <div id="usuario_apellido_container" name="usuario_card_data">
        <div name="usuario_card_label">Apellido:</div>
        <div>{{usuario.apellido}}</div>
    </div>

    <div id="usuario_email_container" name="usuario_card_data">
        <div name="usuario_card_label">E-Mail:</div>
        <div>{{usuario.email}}</div>
    </div>

    <div id="usuario_tipo_container" name="usuario_card_data">
        <div name="usuario_card_label">Tipo:</div>
        <div>{{usuario.tipo}}</div>
    </div>

    <div id="usuario_dni_container" name="usuario_card_data">
        <div name="usuario_card_label">DNI:</div>
        <div>{{usuario.dni}}</div>
    </div>

    <div id="usuario_edad_container" name="usuario_card_data">
        <div name="usuario_card_label">Edad:</div>
        <div>{{usuario.edad}}</div>
    </div>

    <div id="usuario_fecha_alta_container" name="usuario_card_data">
        <div name="usuario_card_label">fecha_alta:</div>
        <div>{{usuario.fecha_alta | date : 'dd/MM/yyyy HH:mm:ss'}}</div>
    </div>
</div>